/* 
Fonts
    font-family: 'Karla', sans-serif;
*/

/* Root Start */
:root {
  --fontSize: 16px;
  --Cyan: hsl(179, 47%, 52%);
  --darkCyan: hsl(179, 61%, 44%);
  --Bright-Yellow: hsl(71, 73%, 54%);
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
}
/* Root End */

/* Global Start*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  user-select: none;
  font-family: "Karla", sans-serif;
}
p {
  font-size: var(--fontSize);
}
/* Global End*/

/* Body Start */
body {
  min-height: 100vh;
  padding: 8px;
  background-color: var(--Light-Gray);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Body End */

/* Main Start */
main {
  width: clamp(375px, 50%, 100%);
  border-radius: 12px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.card1 {
  grid-column: span 2;
  background-color: white;
}
.card2 {
  background-color: var(--darkCyan);
}
.card3 {
  background-color: var(--Cyan);
}
.card {
  padding: 36px;
  color: white;
}
.card h2 {
  font-weight: 700;
  margin-bottom: 16px;
}
.card1 h1 {
  color: var(--Cyan);
  font-weight: 700;
  font-size: xx-large;
}
.card1 h2 {
  color: var(--Bright-Yellow);
  margin: 22px 0 14px;
  font-weight: 700;
}
.card1 p {
  color: var(--Grayish-Blue);
}
.price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
}
.price p:first-child {
  font-size: xx-large;
  font-weight: 700;
}
.price p:nth-child(2) {
  font-weight: 400;
  margin-left: 16px;
  color: var(--Light-Gray);
}
.card2 button {
  background-color: var(--Bright-Yellow);
  color: white;
  padding: 16px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  font-size: var(--fontSize);
  outline: 0;
  border: 0;
  font-weight: 700;
  margin: 32px 0 0;
  cursor: pointer;
}
.card3 p {
  font-weight: 400;
  line-height: 2pc;
  color: var(--Light-Gray);
}
/* Main End */

/* Media Queries Start */
@media only screen and (max-width: 992px) {
  body {
    padding-top: 10%;
  }
  main {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .card1 {
    grid-column: auto;
  }
}
/* Media Queries End */
